.headerImg {
  object-fit: cover;
  width: 100%;
}

.logoImg {
  position: absolute;
  left: 9%;
  width: 212px;
  top: 50px;
}

.divHeaderFlex{
  margin-top: -463px;
  padding-left: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  color: var(--Yellow, #ffd15b);
  font-family: Anton;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 210px;
  width: 70%;
  text-align: center;
}

form {
  display: flex;
}


.inputMain {
  width: 77%;
  height: 72px;
  border-radius: 11px;
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 31px;
}

.loopInput {
  margin-left: -69px;
}

.deleteInput{
  margin-left: -80px;
  display: none;
  cursor: pointer;
}

main {
  background: #ededed;
  margin-top: 149px;
  padding-top: 50px;
}

.flexDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.secondFlexDiv {
  margin-left: 7%;
  gap: 77px;
  display: flex;
  flex-wrap: wrap;
}

.dropdownFlex{
  display: flex;
  justify-content: space-between;
  border-radius: 11px;
  background: #fff;
  padding: 17px 16px;
  width: 182px;
  cursor: pointer;
}

.dropdownIngInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ingInput{
  width: 207px;
  height: 36px;
}

ul{
  list-style-type: none;
  padding-left: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 212px;
  overflow: hidden;
  cursor: pointer;
}


.dropdownIngContent  {
  display: none;
}

.listIngredient{
  height: 200px;
  overflow: auto;
  z-index: 1;
  background-color: white;
}

.listIngredient::-webkit-scrollbar {
  display: none;
}

.listUst{
  height: 200px;
  overflow: auto;
  z-index: 1;
  background-color: white;
}

.listUst::-webkit-scrollbar {
  display: none;
}

.listApp{
  height: 200px;
  overflow: auto;
  z-index: 1;
  background-color: white;
}

.listApp::-webkit-scrollbar {
  display: none;
}

.labelSearch{
  width: 203px;
  height: 33px;
  border-radius: 10px;
  background-color: #FFD15B;
  text-align: center;
  padding-top: 20px;
  font-family: Manrope;
font-size: 14px;
font-weight: 400;
display: flex;
justify-content: space-around;
}

.labelSearch:hover{
  font-weight: bold;
}

.listTag{
  display: flex;
  justify-content: flex-start;
  gap: 34px;
  padding-left: 7%;
  flex-wrap: wrap;
  margin-top: 25px;
}

.labelClose{
  width: 17px;
  height: 17px;
}

.labelClose:hover{
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: black;
}


li{
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding-top: 7px;

}

li:hover{
  background-color: #FFD15B;
  width: 100%;
}

.inpputLoop{
  position: absolute;
  top: 15px;
  right: 34px;
}

/*ust*/

.dropdownUstInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dropdownUstContent {
  display: none;
}
.ustInput{
  width: 207px;
  height: 36px;
}

/*app*/

.dropdownAppInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.appInput{
  width: 207px;
  height: 36px;
}

.dropdownAppContent  {
  display: none;
}

.recette{
  margin-right: 7.5%;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Anton';
  align-items: center;
}


.mainCardFlex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mainCard {
  width: 380px;
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  margin-top: 52px;
}

.mainCardImage {
  object-fit: cover;
  width: 380px;
  height: 253px;
}

.mainCardTitle {
  color: #000;
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 27px;
  margin-left: 26px;
}

.mainCardSecondTitle {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-top: 29px;
  margin-left: 25px;
}

.mainCardText {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 330px;
  margin-left: 26px;
}

.mainCardThirtTitle{
    color: var(--Grey, #7A7A7A);
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
text-transform: uppercase;
margin-left: 25px;
margin-top: 27px;
}

.mainCardStuffFlex{
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
}

.mainCardStuff{
  width: 50%;
}

.mainCardStuff > h6{
  margin-top: 21px;
  margin-bottom: unset;
}

.mainCardStuff > p{
  margin-top: unset;
  margin-bottom: unset;
}


@media screen and (max-width: 1149px) {
  main{
    margin-top: 77px;
    padding-top: 33px;
}
}